# Dependencies
node_modules/
**/node_modules/

# Production Build Outputs
dist/
dist-ssr/
build/
**/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and Local Configs
.env
.env.local
.env.*.local
*.local

# Editor and IDE Files
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Future Backend Build artifacts
target/
*.class
*.jar
*.war
.mvn/
bin/
